<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/dist/output.css" rel="stylesheet">
</head>
<body class="container">
  
  <!-- Define the footer -->
  <footer class="page-footer #d7ccc8 brown lighten-4">
    <div class="container ">
      <div class="row">
        <div class="col s4">
          <h5 class="black-text">
            Terms of Service
          </h5>
          <ul>
            <li><a class="grey-text text-darken-3" href="#!">
                Terms & Conditions
              </a>
            </li>
            <li>
              <a class="grey-text text-darken-3" href="#!">
                Refund & Exchange
              </a>
            </li>
            <li>
              <a class="grey-text text-darken-3" href="#!">
                Other Services
              </a>
            </li>
          </ul>
        </div>
        <div class="col s4">
          <h5 class="black-text">
            Our Socials
          </h5>
          <div class="mb-2">
            <a class="waves-effect btn-small #d7ccc8 brown lighten-2"><i class="material-icons right">email</i>Email</a><br>
          </div>
            <a class="waves-effect btn-small #d7ccc8 brown lighten-2"><i class="material-icons right">camera_alt</i>Instagram</a>
        </div>
        <div class="col s4">
          <h5 class="black-text">More Information</h5>
          <ul>
            <li>
              <a class="grey-text text-darken-3" href="#!">
                About Us
              </a>
            </li>
            <li>
              <a class="grey-text text-darken-3" href="#!">
                Store Location
              </a>
            </li>
            <li>
              <a class="grey-text text-darken-3" href="#!">
                Contact Us <i class="tiny material-icons">call</i>
              </a>
            </li>
          </ul>
          <br>
        </div>
      </div>
    </div>
    <div class="footer-copyright #d7ccc8 brown lighten-3">
      <div class="container">
        <p class="black-text text-darken-3">© 2022 Krys Lasam BS DatSci 3-A</p>
      </div>
    </div>
    
  </footer>
<%- include('../partials/script'); %>
</body>
</html>