<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/dist/output.css" rel="stylesheet">
</head>
<body class="container">
  
  <!-- Define the footer -->
  <footer class="page-footer brown lighten-1">
    <div class="container ">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">
            Jewels by Krys
          </h5>
          <p class="grey-text text-lighten-4">
            Jewelry that shines.
          </p>
          <p>
            Website created as partial fulfillment of<br>
            IT Elective 3: Fullstack Development.
          </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">For More Information</h5>
          <ul>
            <li>
              <a class="grey-text text-lighten-3" href="#!">
                About Us
              </a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="#!">
                Terms & Conditions
              </a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="#!">
                Contact Us <i class="tiny material-icons">call</i>
              </a>
            </li>
          </ul>
          <br>
        </div>
      </div>
    </div>
    <div class="footer-copyright brown darken-2">
      <div class="container">
        © 2022 Krys Lasam BS DatSci 3-A
      </div>
    </div>
    
  </footer>
  <%- include('../partials/script'); %>
</body>
</html>