<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/dist/output.css" rel="stylesheet">
</head>

<body>

<!-- Materialize Scripts -->
<!--Parallax-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
  document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.parallax');
      var instances = M.Parallax.init(elems);
  });
</script>
<script type="text/javascript" src="js/materialize.min.js"></script>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

<!-- Tailwind Scripts -->
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>

<!-- Fromantic-Ui Scripts -->
<!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
<script src="/dist/semantic.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.0/semantic.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.0/semantic.min.js"></script> -->

<!-- Functions of the Buttons to add/delete rows on the table and add total quantity -->
<script>
  function updateTQ() {
  // We get the tbody element
    var tb = document.getElementById("tbody");
    // Initialize the sum variable
    var sum = 0;
    
    // For each row of tbody...
    for (var row of tb.children) {
      var quantity = row.children[2].innerHTML;
      sum = sum + parseInt(quantity);
    }

    // Assign the result to our total quantity field
    var tq = document.getElementById("tq");
    var newtq = sum;
    tq.innerHTML = "Total Sales = " + newtq;
  }

  function myCreateFunction() {
    var table = document.getElementById("myTable");
    var qty = document.getElementById("demoInput").value*1;
    var row = table.insertRow(-1);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    var cell3 = row.insertCell(2);
  
    cell1.innerHTML = document.getElementById('tbody').childElementCount;
    cell2.innerHTML = new Date().toLocaleString();
    cell3.innerHTML = qty;
    
    updateTQ();
  }

  function myDeleteFunction() {
    document.getElementById("myTable").deleteRow(-1);
    updateTQ();
  } 

  // add or minus the input quantity
  function increment() {
    document.getElementById('demoInput').stepUp();
  }
  function decrement() {
    document.getElementById('demoInput').stepDown();
  }

</script>
</body>
</html>
