<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/dist/output.css" rel="stylesheet">
</head>

<body>
<!-- Materialize Scripts -->
<!--Parallax-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
  document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.parallax');
      var instances = M.Parallax.init(elems);
  });
</script>
<script type="text/javascript" src="js/materialize.min.js"></script>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

<!-- Tailwind Scripts -->
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>

<!-- Fromantic-Ui Scripts -->
<!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
<script src="/dist/semantic.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.0/semantic.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.0/semantic.min.js"></script> -->

<script>
  function myCreateFunction() {
    var table =  document.getElementById("myTable");
      var qty = document.getElementById("AddBox").value*1;
      var totalQty = document.getElementById("totalQty"); 
      var sum = 0;
      var row = table.insertRow(-1);
      var cell1 = row.insertCell(0);
      var cell2 = row.insertCell(1);
      cell2.innerHTML = qty;
      cell1.innerHTML = new Date();
          for(var i = 1; i < table.rows.length; i++)
          {
          sum = sum + parseInt(table.rows[i].cells[1].innerHTML); 
          }
      document.getElementById("totalQty").innerHTML="Total Quantity: " + sum;
  }

  
  function myDeleteFunction() {
    document.getElementById("myTable").deleteRow(0);
  }

  var table = document.getElementById("table"),rIndex;        
    for(var i = 1; i < table.rows.length; i++){
        table.rows[i].onclick = function(){
            rIndex = this.rowIndex;
            console.log(rIndex);
    
            document.getElementById("fname").value = this.cells[1].innerHTML;
            document.getElementById("mNumber").value = this.cells[4].innerHTML;
        };
    }
                    
    // edit the row
    function editRow(){
        table.rows[rIndex].cells[1].innerHTML = document.getElementById("fname").value;
        table.rows[rIndex].cells[4].innerHTML = document.getElementById("mNumber").value;
    }
    
    // Data Update Table Here
    function editTableDisplay(){
        document.querySelector('.editTable').setAttribute('style', 'display: block;')
    }
  // var x = 0;
  // document.getElementById('demoInput').innerHTML = x;
  // function button1() {
  //   document.getElementById('demoInput').innerHTML = ++x;
  // }
  // function button2() {
  //   if(x <= 0 ){
  //     ;
  //   return false ;
  //   }
  //   document.getElementById('demoInput').innerHTML = --x;
  // }

   function increment() {
      document.getElementById('demoInput').stepUp();
   }
   function decrement() {
      document.getElementById('demoInput').stepDown();
   }

</script>
</body></html>
